  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-10">
        <div class="flex items-center flex-col text-center">
          <h1 class="my-2 text-4xl font-bold tracking-tight dark:text-zinc-100 text-gray-900 sm:text-6xl">404 Not Found</h1>
          <img src="../../../assets/rick-and-morty-not-in-control.gif" alt="">
          <p class="mt-6 text-lg leading-8 dark:text-zinc-500 text-gray-600">ops! The URL you are trying to access cannot be found.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a routerLink="" class="text-sm font-semibold leading-6 dark:text-zinc-100 text-gray-900">Back to home <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      </div>
    </div>
  </main>
