  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight dark:text-zinc-100 text-gray-900 sm:text-6xl">Rick & Morty Characters</h1>
          <p class="mt-6 text-lg leading-8 dark:text-zinc-500 text-gray-600">All the information about the characters of the Rick and Morty series</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a routerLink="/characters" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Characters</a>
            <a href="https://github.com/Damet24/rick-and-morty-characters-angular" class="text-sm font-semibold leading-6 dark:text-zinc-100 text-gray-900">GitHub <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      </div>
    </div>
  </main>
